
{{#partial "styles"}}
    <link rel='stylesheet' href='/css/home.css'>
{{/partial}}
{{#partial "content"}}
    <h3 class = "home-header">Bill Tracker</h3>
    <div class = "form-content">
        <div class = "container">
            <div class = "row">
                <div class ="col-md-10">
                    <form action = "" method="post">
                        <h5 id ="second-header">Please select your monthly bill and input amount</h5>
                        <div class ="rent-section">
                        <label for ="rent">Rent</label>
                        <input type ="radio" id ="rent-yes" name ="rent-option" value="Yes">
                        <input type ="radio" id ="rent-no" name ="rent-option" value="No">


                    </form>

                </div>

            </div>
        </div>
    </div>









{{/partial}}

{{> layout.hbs}}