
{{#partial "styles"}}
    <link rel='stylesheet' href='/css/Notifications.css'>
{{/partial}}
{{#partial "content"}}

<h1>NOTIFICATIONS</h1>



  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Your rent is due in x days</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

<div class="rent" id="bg1">
    <h2>Your rent is due in x days</h2>
</div>

<div class="food" id="bg1">
    <h2>Your Food budget is due in x days</h2>
</div>


<div class="water" id="bg1">
    <h2>YourWater bill is due in x days</h2>
</div>

<div class="electricity" id="bg1">
    <h2>Your Electricity bill is due in x days</h2>
</div>




{{/partial}}

{{> layout.hbs}}