
{{#partial "styles"}}
    <link rel='stylesheet' href='/css/Notifications.css'>
{{/partial}}
{{#partial "content"}}

<h1>NOTIFICATIONS</h1>
<button type="button" class="btn btn-primary">Back To Bills</button>
<br><br><br>

  <div class="card-body">
    <h5 class="card-title">Rent Bill</h5>
    <p class="card-text">Your rent is due in x days</p>
  </div>
  <br><br><br>
  <div class="card-body">
      <h5 class="card-title">Food Bill</h5>
      <p class="card-text">Food Budget is due in x days</p>
   </div>
   <br><br><br>
<div class="card-body">
    <h5 class="card-title">Water Bill</h5>
    <p class="card-text">Your Water Bill is due in x days</p>
  </div>
  <br><br><br>
<div class="card-body">
    <h5 class="card-title">Electricity Bill</h5>
    <p class="card-text">Your Electricity Bill is due in x days</p>
  </div>





{{/partial}}

{{> layout.hbs}}