{{#partial "styles"}}
    <link rel='stylesheet' href='/css/register.css'>
{{/partial}}
{{#partial "content"}}

<form action="/home"method= "post">
    <div class="form-control">
        <label for="username">Username</label>
        <input id="name" placeholder="Username" name="name" type="text" value="">
    </div>
    <div class="form-control">

        <label for="password">Password</label>
        <input id="password" placeholder="Password" name="password" type="text" value="">

    </div>
    <div class="form-control">

        <label for="confirm-password"> Confirm Password</label>
        <input id="confirm-password" placeholder="Confirm Password" name="confirm-password" type="text" value="">

    </div>
    <button type="login" class="btn btn primary">Login</button>
    <p>Already have an account?<a href="/home">Login Here</a></p>
</form>

{{/partial}}

{{> layout.hbs}}